.hero {
	@include media-mobile {
		padding-top: 0;
		height: 100vh;
		display: flex;
		align-items: center;
		text-align: center;
	}
	padding-top: 175px;
	.container {
		.hero_main {
			padding-top: 21px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-shrink: 0;
			align-self: stretch;

			.left_side {
				max-width: 540px;
				display: flex;
				flex-direction: column;
				gap: 24px;

				.hero_text_main {
					color: $text-color;
					font-family: Inter, sans-serif;
					@include media-mobile {
						font-size: 32px;
					}
					font-size: 3rem;
					font-style: normal;
					font-weight: 700;
					// line-height: 76px; /* 126.667% */
				}

				.hero_text_ne_main {
					color: rgba(51, 51, 51, 0.8);
					font-family: Inter, sans-serif;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
				.button_wrapper {
					@include media-mobile {
						align-self: center;
					}
				}
			}
			.right_side {
				@include media-laptop {
					display: none;
				}
				.img--wrapper {
					margin-right: 10px;
				}
			}
		}
	}
}
