@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300;800&display=swap");

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 80px;
	padding-right: 80px;
}

button {
	transition-duration: 300ms;

	&:hover {
		filter: brightness(120%);
		cursor: pointer;
	}

	&:active {
		scale: 0.95;
	}
}

.button_wrapper {
	display: flex;
	width: fit-content;
	padding: 15px 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background: #4762ff;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: none;
	color: #fff;
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.form--button_wrapper {
	display: flex;
	padding: 10px 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background: #4762ff;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: none;
	color: #fff;
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

header {
	background: var(--gray-100, #f3f4f6);
  border-bottom: 2px rgba(0, 0, 0, 0.077) solid;
	z-index: 50;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	.container {
		.header_wrapper {
			display: flex;
			flex-direction: column;

			.top_header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				align-self: stretch;
				padding: 21px 0px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.25);

				.address {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 7px;

					.img_wrapper {
						padding: 4px 10px;

						img {
						}
					}

					.text {
						color: rgba(51, 51, 51, 0.7);
						font-family: Inter, sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
				}

				.phone_wrapper {
					display: flex;
					flex-direction: row;
					gap: 64px;

					.phone {
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 12px;

						.img_wrapper {
							padding: 4px 10px;

							img {
							}
						}

						p {
							color: rgba(51, 51, 51, 0.7);
							font-family: Inter, sans-serif;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							text-align: center;
						}
					}
				}
			}

			.down_header {
				padding-top: 15px;
				padding-bottom: 15px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				.logo {
					display: flex;
					flex-direction: row;
					gap: 15px;
					align-items: center;

					.img_wrapper {
						img {
						}
					}

					.text_wrapper {
						.logo_first {
							color: #000;
							font-family: Montserrat;
							font-size: 14px;
							font-style: normal;
							font-weight: 300;
							line-height: normal;
						}

						.logo_second {
							color: #000;
							font-family: Montserrat;
							font-size: 20px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
						}
					}
				}

				.naw_wrapper {
					display: flex;

					.nav_list {
						display: flex;
						gap: 50px;
						align-items: center;

						li {
							list-style-type: none;
							color: #333;
							font-family: Inter, sans-serif;
							font-size: 16px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
					}
				}

				.phone_button {
					.hero_button {
						display: flex;
						padding: 10px 20px;
						justify-content: center;
						align-items: center;
						gap: 10px;
						border-radius: 5px;
						background: var(--blue-600, #2563eb);
						box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
						border: none;
						color: #fff;
						font-family: Inter, sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
					}
				}
			}
		}
	}
}

//

.hero {
	padding-top: 175px;
	.container {
		.hero_main {
			padding-top: 21px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-shrink: 0;
			align-self: stretch;

			.left_side {
				max-width: 540px;
				display: flex;
				flex-direction: column;
				gap: 24px;

				.hero_text_main {
					color: #333;
					font-feature-settings: "liga" off;
					font-family: Inter, sans-serif;
					font-size: 60px;
					font-style: normal;
					font-weight: 700;
					line-height: 76px; /* 126.667% */
				}

				.hero_text_ne_main {
					color: rgba(51, 51, 51, 0.8);
					font-feature-settings: "liga" off;
					font-family: Inter, sans-serif;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}

				.right_side {
					.img_wrapeper {
						margin-right: 10px;

						img {
						}
					}
				}
			}
		}
	}
}

///

.products {
	margin-bottom: 67px;

	.container {
		margin-top: 64px;

		.gg_wrapper {
			.main_title {
				color: #333;
				text-align: center;
				font-feature-settings: "liga" off;
				font-family: Inter;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			.title_wrapper {
				color: rgba(51, 51, 51, 0.5);
				text-align: center;
				font-feature-settings: "liga" off;
				font-family: Inter;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}

		.grid_wrapper {
			margin-top: 66px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 128px;
			grid-row-gap: 64px;

			.card {
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				border-radius: 9px;
				width: 580px;
				background: var(--gray-100, #f3f4f6);
				box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

				.left_side {
					margin: 25px;
					display: flex;
					flex-direction: column;
					gap: 15px;

					.title {
						color: #333;
						font-feature-settings: "liga" off;
						font-family: Inter;
						font-size: 24px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}

					.main_text {
						width: 253px;
						color: rgba(51, 51, 51, 0.8);
						font-feature-settings: "liga" off;
						font-family: Inter;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}

				.img_wraper {
					height: 100%;
					img {
						height: 100%;
						border-radius: 9px;
					}
				}
			}
		}
	}
}

////

.features {
	background: var(--gray-100, #f3f4f6);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	padding-bottom: 104px;

	.container {
		.title_wrapper {
			padding-top: 96px;

			.title {
				color: #333;
				text-align: center;
				font-feature-settings: "liga" off;
				font-family: Inter;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}

		.features_wrapper {
			margin-left: 100px;
			margin-top: 64px;

			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);

			grid-row-gap: 47px;

			.card {
				display: flex;
				flex-direction: row;
				gap: 32px;
				width: 320px;

				.left_side {
					.img_wrapper {
						img {
						}
					}
				}

				.right_side {
					.features_card_tex {
						color: #4762ff;
						font-family: Alegreya Sans, Serif;
						font-size: 32px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}

					.features_card_text_sub {
						color: #000;
						font-family: Alegreya Sans;
						font-size: 20px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
			}
		}
	}
}

////
.factorias {
	padding-bottom: 92px;

	.container {
		.title_wrapper {
			margin-top: 96px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.title_main {
				color: #333;
				text-align: center;
				font-feature-settings: "liga" off;
				font-family: Inter;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			.title_sub {
				margin-top: 10px;
				width: 763px;
				color: rgba(51, 51, 51, 0.5);
				text-align: center;
				font-feature-settings: "liga" off;
				font-family: Inter;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}

		.factorias_card_wrapper {
			margin-top: 89px;
			display: flex;
      justify-content: space-between;
			flex-direction: row;
			gap: 30px;

			.factorias_card {
				box-sizing: border-box;
				&.Fujizy {
					scale: 105%;
				}
				display: flex;
				width: 393px;
				flex-direction: column;
				height: 550px;
				padding: 35px 15px;
				align-items: center;
				gap: 8px;
				border-radius: 9px;
				background: var(--gray-100, #f3f4f6);
				justify-content: space-between;

				.img_wrapper {
					width: 90px;
					height: 115px;
					border-radius: 9px;

					img {
						height: 100%;
					}
					&.Fujizy {
            display: flex;
            align-items: center;
            justify-content: center;
						border-radius: 9px;
						background: var(--zinc-300, #d4d4d8);
						width: 90px;
						height: 115px;
						//
						img {
							max-width: 61px;
							height: 54px;
							//
						}
					}
				}

				.factorias_card_text {
					padding: 24px;
					margin-top: 20px;

					.factorias_text_main {
						width: 357px;
						color: #1e1e1e;
						font-family: Alegreya Sans;
						font-size: 24px;
						font-style: normal;
						font-weight: 800;
						line-height: normal;
					}

					.factorias-text_sub {
						width: 357px;
						padding-top: 16px;
						color: #1e1e1e;
						font-family: Alegreya Sans;
						font-size: 20px;
						font-style: normal;
						font-weight: 300;
						line-height: normal;
					}
				}
			}
		}
	}
}

////
.serf {
	background: var(--gray-100, #f3f4f6);
	padding-bottom: 91px;

	.container {
		.title_wrapper {
			padding-top: 95px;

			.title {
				color: #333;
				text-align: center;
				font-feature-settings: "liga" off;
				font-family: Inter;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}

		.main_content {
			margin-top: 68px;
			margin-left: 190px;
			display: flex;
			flex-direction: row;
			gap: 76px;

			.img_wrapper {
				img {
				}
			}
		}
	}
}

///

.form_section {
	background: left 50% url(./../assets/pictures/form_section_bg.png);
	height: 597px;

	.container {
		.form_container {
			padding-top: 32px;
			padding-left: 687px;
			width: 597px;
			height: 533px;

			.form_main {
				display: flex;
				padding: 32px 64px;
				flex-direction: column;
				justify-content: center;

				gap: 36px;
				border-radius: 9px;
				background: #fff;

				.title_wrapper {
					.form_title_main {
						color: #333;
						font-feature-settings: "liga" off;
						font-family: Inter;
						font-size: 56px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}

					.form_title_sub {
						margin-top: 15px;
						color: rgba(51, 51, 51, 0.8);
						font-feature-settings: "liga" off;
						font-family: Inter;
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}

				.input_wrapper {
					display: flex;
					flex-direction: column;
					gap: 23px;

					input {
						width: 469px;
						height: 56px;
						flex-shrink: 0;
						border-radius: 8px;
						background: rgba(71, 98, 255, 0.08);
					}
				}

				button {
					display: flex;
					width: 469px;
					padding: 22px 185px;
					align-items: flex-start;
					gap: 10px;
					border-radius: 8px;
					background: #4762ff;
					box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
					color: #fff;
					text-align: center;
					font-family: Inter;
					font-size: 18px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
			}
		}
	}
}

footer {
	background: var(--slate-800, #1e293b);
	color: white;
	font-family: Inter, sans-serif;
	font-style: normal;
	line-height: normal;
	padding: 32px 0;
	//
	div.container {
		//
		div.footer--wrapper {
			display: flex;
			justify-content: space-between;
			//
			div.details {
				h3.title {
					font-size: 20px;
					font-weight: 500;
				}

				//
				ul.list--info {
					font-size: 16px;
					font-weight: 400;
					display: flex;
					flex-direction: column;
					gap: 8px;
				}
			}
		}
	}
}
