$content-width: 1280px - 1px;
$tablet-width: 768px - 1px;
$mobile-big-width: 425px - 1px;
$mobile-small-width: 320px - 1px;

$text-color: #000000;
$background-color: #ffffff;
$primary-color: #8fb3ff;
$secondary-color: #ebf1ff;
$accent-color: #d41d6d;
$info-color: #4762ff;
$warning-color: #4762ff;
$danger-color: #4762ff;
$success-color: #4762ff;
$neutral_1-color: #4762ff;
$neutral_2-color: #4762ff;
