.About {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;

  .first_card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 30px;
    background-size: cover;
    background-image: url("./../../assets/pictures/bg_slides_pic/pexels-noah-frohn-1429772-5209521.jpg");
    .first_card_smoth {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background-color: $base-background_smooth;
    }
    .First_card_title {
      z-index: 1000;
      color: $base-text_color;
      font-family: Inter, sans-serif;
      font-size: 64px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
    }
    .Second_card_title {
      z-index: 1000;
      text-align: center;
      width: 80%;
      color: $base-text_color;
      font-family: Inter, sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .cards_wrapper {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .card {
      overflow: hidden important;
      color: $base-text_color;
      background-size: cover;
      display: flex;
      flex-direction: row;
      transition: width 0.5s ease;
      width: 80px;
      .Card_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        writing-mode: vertical-rl;
        font-family: Inter, sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
      }
      .advantages_wrapper {
        display: none;

        height: 100%;
        .adventages_hero {
          padding-left: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 40%;
          gap: 30px;
          .adventages_title {
            font-family: Inter, sans-serif;
            font-size: 64px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
          }
          .adventages_sub_title {
            z-index: 1000;
            text-align: center;
            width: 80%;
            color: $base-text_color;
            font-family: Inter, sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
    .card:hover {
      width: 100%;
      transition: width 0.3s ease;
      .advantages_wrapper {
        display: flex;
        align-items: center;
        gap: 40px;
      }
    }
    .card:nth-child(1) {
      background-image: url("./../../assets/pictures/bg_slides_pic/pexels-kelly-1179532-3861787.jpg");
    }
    .card:nth-child(2) {
      background-image: url("./../../assets/pictures/bg_slides_pic/pexels-salman-haris-513980394-16383996.jpg");
    }
    .card:nth-child(3) {
      background-image: url("./../../assets/pictures/bg_slides_pic/pexels-kampamba-567528669-18533100.jpg");
    }
  }
}
